<article class="talks" id="talks">
  <h2>talks &amp; texts</h2>

  <div class="talks__intro grid__col grid__col--2-of-3 grid__col--centered">
    I always try to make things that matter, and that's why I eventually end up giving some talks on many different subjects. I also like writting, even though I'm not good at allocating time slots in order to do it more often. Here's a selection of my previous talks, papers and articles.
  </div>

  <div>
    <div class="grid__col grid__col--2-of-6 grid__col--push-1-of-6 talks__piece">
      <h3 class="talks__piece__subtitle">Talks</h3>

      <ul class="talks__piece__list">
        <li ng-repeat="talk in vm.TALKS">
          <a class="talks__piece__list__link" ng-href="{{talk.target}}">{{talk.year}} - {{talk.name}}</a>
        </li>
      </ul>
    </div>

    <div class="grid__col grid__col--2-of-6 talks__piece">
      <h3 class="talks__piece__subtitle">Texts</h3>

      <ul class="talks__piece__list">
        <li ng-repeat="text in vm.TEXTS">
          <a class="talks__piece__list__link" ng-href="{{text.target}}">{{text.year}} - {{text.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</article>
