.talks {
  padding: 5em;

  &__intro {
    margin-bottom: 2em;
    text-align: center;
  }

  &__piece {
    text-align: left !important;
    display: inline-block !important;
    padding: 0.5em !important;
    box-sizing: border-box !important;

    &__list {
      list-style: square;
      list-style-position: inside;

      &__link {
        color: $shark;
        text-decoration: underline;
        transition: color 0.1s;
        line-height: 3em;
        font-size: 0.9em;

        &:visited {
          color: $shark;
        }

        &:hover {
          color: $blueDianne;
        }
      }
    }

    &__subtitle {
      font-size: 1.2em;
      margin: 1em 0;
    }
  }
}

@media (max-width: $mobileMaxWidth) {
  .talks {
    display: none;
  }
}
