<article class="cv">
  <div>
    <header>
      <h1>Breno <b>Lima de Freitas</b></h1>
      <ul>
        <li><i class="fa fa-globe"></i> {{vm.cv.social.site}}</li>
        <li><i class="fa fa-envelope"></i> {{vm.cv.social.email}}</li>
        <li><i class="fa fa-github"></i> {{vm.cv.social.gh}}</li>
        <li><i class="fa fa-linkedin"></i> {{vm.cv.social.ln}}</li>
      </ul>
    </header>

    <section>
      <h2>profile</h2>

      <div class="block">
        {{vm.cv.profile}}
      </div>
    </section>

    <section>
      <h2>objective</h2>

      <div class="block">
        {{vm.cv.objective}}
      </div>
    </section>

    <section>
      <h2>professional experience</h2>

      <div class="block" ng-repeat="entry in vm.cv.professional">
        <h3>{{entry.company}}</h3>
        <div class="specific">
          <span class="date">
            {{entry.from | date:'MMM yyyy'}}
            &nbsp;&#8212;&nbsp;
            {{entry.to | date:'MMM yyyy'}}
            {{entry.to ? '' : 'Present'}}
          </span>
          <span class="place">{{entry.location}}</span>
        </div>
        <div class="general">{{entry.position}}</div>
      </div>
    </section>

    <section>
      <h2>education</h2>

      <div class="block" ng-repeat="entry in vm.cv.education">
        <h3>{{entry.school}}</h3>
        <div class="specific">
          <span class="date">
            {{entry.from | date:'MMM yyyy'}}
            &nbsp;&#8212;&nbsp;
            {{entry.to | date:'MMM yyyy'}}
            {{entry.to ? '' : 'Present'}}
          </span>
          <span class="place">{{entry.location}}</span>
        </div>
        <div class="general">{{entry.title}}</div>
      </div>
    </section>
  </div>

  <div>
    <section>
      <h2>academic experience</h2>

      <div class="block" ng-repeat="entry in vm.cv.academic">
        <h3>{{entry.school}}</h3>
        <div class="specific">
          <span class="date">
            {{entry.from | date:'MMM yyyy'}}
            &nbsp;&#8212;&nbsp;
            {{entry.to | date:'MMM yyyy'}}
            {{entry.to ? '' : 'Present'}}
          </span>
          <span class="place">{{entry.location}}</span>
        </div>
        <div class="general">
          <i>{{entry.name}}</i>
          <div>Supervised by {{entry.supervisor}}</div>
        </div>
      </div>
    </section>

    <section>
      <h2>events</h2>

      <div class="block" ng-repeat="entry in vm.cv.events">
        <h3>{{entry.name}}</h3>
        <div class="specific">
          <span class="date">
            {{entry.from}}
            {{entry.to ? '&nbsp;&#8212;&nbsp;' : ''}}
            {{entry.to}}
          </span>
          <span class="place">{{entry.location}}</span>
        </div>
        <div class="general" ng-bind-html="entry.extra"></div>
      </div>
    </section>

    <section>
      <h2>languages</h2>

      <div class="block">
        <ul>
          <li ng-repeat="entry in vm.cv.languages">
            <span>{{entry.name}}</span> {{entry.level}}
          </li>
        </ul>
      </div>
    </section>

    <section>
      <h2>papers</h2>

      <div class="block" ng-repeat="entry in vm.cv.papers">
        <h3>{{entry.name}}</h3>
        <div class="specific">
          <span class="date">{{entry.year}}</span>
          <span class="place"></span>
        </div>
        <div class="general">
          <i>{{entry.coauthors}}</i>
          <div>{{entry.journal}}</div>
        </div>
      </div>
    </section>

    <section>
      <h2>skills</h2>

      <div class="block">
        <ul>
          <li ng-repeat="entry in vm.cv.skills">{{entry}}</li>
        </ul>
      </div>
    </section>
  </div>
</article>
