@charset "UTF-8";

@media (min-width:1000px) {
    body {
        font-size: 16px;
    };
}

@media (min-width:640px) and (max-width:1000px) {
    body {
        font-size: 10px;
    };
}

@media (max-width:640px) {
    body {
        font-size: 6px;
    };
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

section {
    height: 100%;
    position: relative;
    background-attachment: fixed;
}

@font-face {
    font-family:'Uni Sans';src:url('Uni Sans.woff') format('woff'),url('Uni Sans.ttf') format('truetype');
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.purple {
    background: #7f1e7b;

    .hi {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 35em;
        width: 48.125em;
        text-align: left;
        z-index: 1;

        span {
            font-size: 8em;
            font-family: 'Uni Sans',sans-serif;
            font-weight: bold;
            color: #561453;

            b {
               font-size: 2em;
                display: block;
                color: #b0e000; 
            }
        }
    }

    .down {
        font-size: 10em;
        text-align: center;
        color: #561453;
        -webkit-animation: arrow_down 2s infinite;
        animation: arrow_down 2s infinite;
    }
}

@-webkit-keyframes arrow_down {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: .1em;
    }

    100% {
        margin-top: 0;
    };
}
.yellow {
    background: url('../img/me.svg') no-repeat 5em 2em #f7af41;
    font-size: 2em;
    text-align: center;
    font-family: 'Nunito';

    .box {
        width: 15em;
    }
}

.green {
    background: #60a928;
}

.blue {
    background: #0888e1;
}

.grey {
    background: #526e83;

    h1 {
        font-size: 8em;
        font-family: 'Uni Sans',sans-serif;
        font-weight: bold;
        color: #e5ebef;
        margin-top: 0;
    }

    .wrapper {
        width: 100%;
        height: 30em;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
    }

    a, a:active, a:visited {
        display: inline-block;
        text-align: center;
        background: #3e5464;
        border-radius: 10px;
        font-size: 5.5em;
        width: 3em;
        height: 3em;
        line-height: 3em;
        color: #a6b9c8;
        text-decoration: none;
        transition: all .2s lisnear;
        -webkit-transition: all .2s linear;
    }

    a.middle {
        margin: 0.5em;
    }

    a:hover {
        background: #7794aa;
        color: #fff;
    }
}

.window {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 50em;

    .header {
        padding: .5em;
        width: 100%;
        background-color: #4c5969;
        box-sizing: border-box;
        border-radius: 5px 5px 0 0;

        & > div {
            display: inline-block;
            width: 87%;
            margin-left: 1%;
            padding: 1%;
            background-color: rgba(255,255,255,0.8);
            border-radius: 5px;
            font-family: 'Varela Round',sans-serif;
            font-size: .8em;
            color: #777;

            span:after {
                margin-right: 1%;
                content: '\2715';
                float: right;
                color: #333;
                font-weight: bold;
            }
        }

        // Buttons for the window

        .r, .y, .g {
            border-radius: 100%;
            display: inline-block;
            margin-left: .4em;
            width: .6em;
            height: .6em;
        }

        .y {
            background-color: #f3b028;
            border: solid 1px #d58f27;
        }

        .r {
            background-color: #e34544;
            border: solid 1px #d52929;
        }

        .g {
            background-color: #5ac534;
            border: solid 1px #4ba022;
        }
    }

    .panel {
        background-color: #fff;
        height: 30em;
    }
}