@charset "UTF-8";

$blue: #69cee4;
$gray: #cecbbe;
$yellow: #f7af41;
$orange: #e85e22;

$purple: #4C0F49;
$breno_colour: #b0e000;

$animation_distance: .07em;

@font-face {
    font-family:'Uni Sans';
    src: url('../font/Uni Sans.woff') format('woff'),
         url('../font/Uni Sans.ttf') format('truetype');
}

::selection {
    background: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

section {
    height: 100%;
    background-attachment: fixed;
    overflow: hidden;
}

.mask {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #7f1e7b;

    .loader {
        text-align: center;
        width: 100%;
        height: 3em;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        span {
            display: inline-block;
            background: #b0e000;
            width: 3em;
            height: 3em;
            border-radius: 100%;
        }

    }
}

h1 {
    line-height: 2em;
    text-align: center;
    font-size: 8em;
    font-family: 'Uni Sans',sans-serif;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 1em;
    color: #ffffff;
    margin-top: -1.7em;
    font-size: 2em;
}

.bio {
    margin-bottom: 0.5em;
    padding: 0.5em;
    color: #000;
    display: none;
    background: #ececec;
    text-shadow: 0 2px 0 #cccccc;
    box-shadow: 0 3px 0 #cccccc;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.block-1 {
    background: #7f1e7b;

    .hi {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 35em;
        width: 48.125em;
        text-align: left;
        z-index: 1;

        h1 {
            font-size: 8em;
            font-family: 'Uni Sans',sans-serif;
            font-weight: bold;
            color: $purple;
            text-align: left;
            margin-bottom: -0.5em;

            b {
               font-size: 2em;
                display: block;
                color: $breno_colour;
            }
        }
    }

    .down {
        font-size: 10em;
        text-align: center;
        color: $purple;
        animation: arrow_down 2s infinite;
    }
}

@keyframes arrow_down {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: $animation_distance;
    }

    100% {
        margin-top: 0;
    };
}

.me {
    width: 60%;
    height: 100%;
    position: absolute;
    bottom: -5%;
    left: 5%;
    background: url('../img/me.svg') no-repeat;
}

.block-2 {
    background: $yellow;
    font-size: 2em;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.5em;

    h1 {
        color: darken($yellow, 30%);
        display: none;
    }

    .box {
        width: 15em;
    }
}

.block-6 {
    background: #F47E35;

    h1 {
        color: darken(#F47E35, 20%);
    }

    ul {
        text-align: center;
        width: 100%;

        li {
            list-style: none;
            display: inline-block;
            margin: 2em;

            a {
                display: inline-block;
                width: 17em;
                height: 17em;
                border-radius: 100%;
                background: lighten(#F47E35, 30%);
                position: relative;
                text-decoration: none;
                opacity: 0.8;
                transition: all .2s linear;

                &:after {
                    content: "\e80c";
                    font-family: 'fontello';
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: inherit;
                    position: absolute;
                    font-size: 15em;
                    text-align: center;
                    width: 100%;
                    color: lighten(#F47E35, 20%);
                    top: 7%;
                    left: 0;
                    z-index: 0;
                }

                &:hover {
                    opacity: 1;
                }

            }

            span {
                position: relative;
                display: block;
                font-size: 3em;
                font-family: 'Uni Sans',sans-serif;
                margin-top: 30%;
                color: #903333;
                z-index: 1;
                font-size: 2em;
            }

            b {
                position: relative;
                display: inline-block;
                margin-top: 15%;
                font-size: 1.5em;
                color: #333;
                z-index: 1;
            }
        }
    }
}

.block-4 {
    background: #60a928;

    h1 {
        color: darken(#60a928, 20%);
        transition: color .2s linear;
    }

    h2 {
        margin-bottom: 1em;
    }

    a, a:visited, a:active {
        color: #ffffff;
    }

    .projects {
        width: 100%;
    }

    .arrow {
        position: absolute;
        bottom: 20%;
        color: #ffffff;
        font-size: 8em;
        cursor: pointer;

        &.left {
            left: -$animation_distance;

            &:hover {
                animation: arrow_left 1s infinite;
            }
        }

        &.right {
            right: $animation_distance;

            &:hover {
                animation: arrow_right 1s infinite;
            }
        }
    }

    .logo, .ctt {
        float: left;
    }

    .centering {
        text-align: center;

        &.bottom {
            position: absolute;
            width: 80%;
            bottom: 15%;
        }
    }

    .smaller {
        background: #ffffff;
        display: none;

        height: 60em;
        width: 80%;
        margin: 0 auto;
        border-radius: 1em;
        margin-bottom: -2em;

        & > div {
            position: relative;
        }

        .logo {
            padding: 0;
            display: block;
            height: 20em;
            width: 100%;

            img {
                max-width: 90%;
                max-height: 90%;
            }
        }

        .ctt {
            width: 100%;
            font-size: 1.3em;
            box-sizing: border-box;
        }

        h1 {
            font-size: 1.5em;
            line-height: 4em;
            text-align: left;

            transition: color .2s linear;
        }

        b {
            display: block;
            width: 30%;
            height: 3px;
            background: #60a928;
            margin: 0.5em 0 1em 0;
        }

        a {
            height: 2em;
            line-height: 2em;
            margin-top: 2em;
            display: inline-block;
            width: 80%;
            padding: 0.6em;
            text-align: center;
            font-size: 0.8em;
            letter-spacing: 0.1em;
            border: solid 1px #777;
            border-radius: 3px;
            color: #777;
            text-decoration: none;
            transition: all .2s linear;
            cursor: pointer;

            &:hover {
                background: #777;
                color: #fff;
            }
        }
    }

    .panel {
        a {
            display: inline-block;
            width: 40%;
            padding: 0.6em;
            text-align: center;
            font-size: 0.8em;
            letter-spacing: 0.1em;
            border: solid 1px #777;
            border-radius: 3px;
            color: #777;
            text-decoration: none;
            transition: all .2s linear;
            cursor: pointer;

            &:hover {
                background: #777;
                color: #fff;
            }
        }
    }

    .logo {
        width: 40%;
        height: 70%;
        position: relative;
        padding: 5%;

        img {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            max-height: 50%;
            max-width: 70%;
        }
    }

    .ctt {
        width: 40%;
        height: 80%;
        padding: 5%;

        h2 {
            text-align: left;
            margin-top: 1em;
            margin-bottom: 0;
            font-size: 1em;
            color: #444;
        }

        ul, span {
            color: #777;
            list-style-position: inside;
            list-style-type: square;
            margin-left: 2em;
            display: block;
            margin-bottom: 0.5em;

            li {
                margin-bottom: 0.5em;
            }
        }
    }
}

.window {
    width: 65%;
    margin: 0 auto;
    box-sizing: border-box;

    .bar {
        height: 3px;
        background: #ec5440;
        width: 0;
        margin-top: -3px;
    }

    .header {
        padding: .5em;
        width: 100%;
        background-color: #C8C8C8;
        box-sizing: border-box;
        border-radius: 5px 5px 0 0;

        & > div {
            display: inline-block;
            width: 87%;
            margin-left: 1%;
            padding: 1%;
            background-color: rgba(255,255,255,0.8);
            border-radius: 5px;
            font-family: 'Varela Round',sans-serif;
            font-size: .8em;
            color: #777;

            span:after {
                margin-right: 1%;
                content: '\2715';
                float: right;
                color: #333;
                font-weight: bold;
            }
        }

        // Buttons for the window

        .r, .y, .g {
            border-radius: 100%;
            display: inline-block;
            margin-left: .4em;
            width: 0.5em;
            height: 0.5em;
        }

        .y {
            background-color: #f3b028;
            border: solid 1px #d58f27;
        }

        .r {
            background-color: #e34544;
            border: solid 1px #d52929;
        }

        .g {
            background-color: #5ac534;
            border: solid 1px #4ba022;
        }
    }

    .panel {
        background-color: #fff;
        height: 38em;

        & > div {
            height: 100%;
            position: relative;
        }

        h1 {
            font-size: 1.5em;
            line-height: 4em;
            text-align: left;
            transition: color .2s linear;
        }

        b {
            display: block;
            width: 25%;
            height: 3px;
            background: #60a928;
            margin: 0.5em 0 1em 0;
        }
    }
}

.block-5 {
    background: $gray;

    h1 {
        color: darken($gray, 40%);
    }

    .wrapper {
        width: 100%;
        height: 10.5em;
        text-align: center;
    }

    a, a:active, a:visited {
        display: inline-block;
        text-align: center;
        //border: solid 5px lighten($gray, 20%);
        //background: darken($gray, 10%);
        border-radius: 100%;
        font-size: 3.5em;
        width: 3em;
        height: 3em;
        line-height: 3em;
        color: darken($gray, 13%);
        text-decoration: none;
        transition: all .2s linear;
        margin: 0.5em;
    }

    a:hover {
        background: darken($gray, 5%);
        //border: solid 5px darken($gray, 20%);

        &.icon-twitter {
            color: #51a6e7;
        }

        &.icon-behance {
            color: #005CFF;
        }

        &.icon-github {
            color: #333;
        }

        &.icon-linkedin-squared {
            color: #0177B5;
        }

        &.icon-mail-alt {
            color: #964b4c;
        }
    }

    .msg {
        position: absolute;
        text-align: center;
        bottom: 2em;
        width: 100%;
        color: darken($gray, 40%);
        word-spacing: 0.2em;

        b {
            color: #a75456;
        }
    }
}

.block-3 {
    background: $blue;
    $darker_colour: darken($blue, 25%);

    h1 {
        color: darken($darker_colour, 10%);
    }

    img {
        position: absolute;
    }

    .postit {
        cursor: pointer;
        position: absolute;
        width: 6.3em;
        border-bottom: solid 0.3em darken(#e4d78c, 10%);
        background: #e4d78c;
        right: 25%;
        top: 80%;
        text-align: center;
        font-size: 1.1em;
        padding: 1em 0.5em;
        min-height: 3em;
        color: darken(#e4d78c, 35%);
    }

    .r, .g, .b, .pencil {
        width: 1.5em;
    }

    .r {
        left: 7em;
        bottom: 7em;
    }

    .g {
        left: 9.5em;
        bottom: 7em;
    }

    .b {
        left: 12em;
        bottom: 7em;
    }

    .pencil {
        left: 14.5em;
        bottom: 8.3em;
    }

    .eraser {
        width: 6em;
        bottom: 26.5em;
        left: 7em;
    }

    .ruler {
        width: 30em;
        bottom: 1em;
        left: 7em;
    }

    .monitor {
        right: -12em;
        bottom: 0;
        height: 71%;
    }

    .text {
        margin-top: -2%;
        width: 22em;
        font-size: 1.4em;
        margin-left: 13em;

        span {
            display: block;
            margin-right: 1em;
            line-height: 0.9em;
            font-family: 'Uni Sans',sans-serif;
            color: $darker_colour;
        }

        .txt {
            color: #fff;
            margin-bottom: 2em;
            font-size: 0.9em;
        }

        i {
            font-size: 1.5em;
            color: lighten($blue, 12%);

            &.yes {
                color: #fff;
            }
        }
    }
}

.speechbubble {
    width: 25em;
    height: 14em;
    position: absolute;
    padding: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    right: -30em;
    margin: auto;
    background: #ececec;
    text-shadow: 0 2px 0 #cccccc;
    text-align: left;
    line-height: 2em;

    $foldcolor: #E16B5F;


    .fold {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 2em 2em 0 0;
        border-color: transparent $foldcolor transparent transparent;
        position: absolute;
        top: 0;
        left: -2em;
    }

    .rect-shadow {
        background: #cccccc;
        height: 0.2em;
        width: 29em;
        position: absolute;
        bottom: 0;
        left: -2em;
        z-index: 1;
    }

    .arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 3em 6.4em 0 0;
        border-color: $foldcolor transparent transparent transparent;
        position: absolute;
        bottom: -2.9em;
        left: -2em;
        z-index: 0;
    }

    .rectangle {

        .shadow {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 2em 2em 0 0;
            border-color: #cccccc transparent transparent transparent;
        }

        width: 2em;
        height: 100%;
        background: #ececec;
        position: absolute;
        top: 2em;
        left: -2em;
    }
}

@import "breno.io.media";
