.about {
  padding: 5em;

  &__text {
    line-height: 2em;
    text-align: center;
    margin: 0 auto;
    display: block;

    &__link {
      color: $shark;
      text-decoration: underline;
      transition: color 0.1s;

      &:visited {
        color: $shark;
      }

      &:hover {
        color: $blueDianne;
      }
    }
  }
}

@media (max-width: $mobileMaxWidth) {
  .about {
    padding: 2em 1em;
  }
}
